---
layout: home
classes: wide
author_profile: true
permalink: /
header:
  overlay_color: "#5e616c"
  overlay_filter: "0.6" # same as adding an opacity of 0.5 to a black background
  overlay_image: "/assets/images/home/ironabe_bike.jpg"
  # caption: "Photo credit: **M. Congdon**"
  og_image: "/assets/images/home/lattice_crush_411x274.jpg"
excerpt: "This site is currently under construction."
feature_row:
  - image_path: /assets/images/home/lattice_crush_411x274.jpg
    alt: "AM lattice research"
    title: "Research"
    # excerpt: "Work and conference summaries"
    url: "/research/"
    btn_class: "btn--primary"
    # btn_label: "Learn More"
  - image_path: /assets/images/home/solve_maze_411x274.jpg
    alt: "A* search maze solver"
    title: "Coursework"
    # excerpt: "Academic projects and content"
    url: "/coursework/"
    btn_class: "btn--primary"
    # btn_label: "Learn More"
  - image_path: /assets/images/home/endless_summer_411x274.jpg
    alt: "hobbies"
    title: "Hobbies"
    # excerpt: "Athletics, programming, cooking, etc."
    url: "/hobbies"
    btn_class: "btn--primary"
    # btn_label: "Learn More"
intro:
  - excerpt: 'While this page is under construction, please direct your attention to my <a href="https://www.linkedin.com/in/djmcgregor/">LinkedIn</a>.'
  - excerpt: 'Current Ph.D. student in Mechanical Engineering at the University of Illinois at Urbana-Champaign (UIUC).'
  - excerpt: ' My current research aims to answer whether production grade additive manufacturing (AM) can accurately and repeatedly produce lattice parts.
  These lattice parts comprise hundreds of slender members, each of which can significantly impact the overall lattice performance. I have developed an
  optically based, measurement protocol to quantify lattice part quality and compare predicted part performance to the designed performance. I currently 
  employ this metrology to analyze large batches of AM parts, and explore the possibility of predicting AM part flaws using machine learning and statistics.'
---

{% include feature_row id="intro" type="justify"%}

{% include feature_row %}