---
layout: home
classes: wide
author_profile: true
entries_layout: grid
header:
  overlay_color: "#5e616c"
  overlay_filter: "0.6" # same as adding an opacity of 0.5 to a black background
  overlay_image: /assets/images/home/ironabe_bike.jpg
  # caption: "Photo credit: **M. Congdon**"
  og_image: /assets/images/home/lattice_crush_411x274.jpg
  teaser: /assets/images/home/lattice_crush_411x274.jpg
# excerpt: "Welcome to my personal webpage"
description: "This is my personal webpage and side project/hobby. Explore a bit more about me, my research, and how I've developed this site using open source web tools."
preview_images:
  - image_path: /assets/images/home/lattice_crush_411x274.jpg
    alt: "AM lattice research"
    title: "Research"
    # excerpt: "Work and conference summaries"
    url: "/research/"
    btn_class: "btn--primary"
    # btn_label: "Learn More"
  - image_path: /assets/images/home/solve_maze_411x274.jpg
    alt: "A* search maze solver"
    title: "Projects"
    # excerpt: "Academic projects and content"
    url: "/projects/"
    btn_class: "btn--primary"
    # btn_label: "Learn More"
  - image_path: /assets/images/home/endless_summer_411x274.jpg
    alt: "hobbies"
    title: "Hobbies"
    # excerpt: "Athletics, programming, cooking, etc."
    url: "/hobbies"
    btn_class: "btn--primary"
    # btn_label: "Learn More"
intro:
  - excerpt: 'Davis J. McGregor, Ph.D. is Director of the MIRAGE Lab, Assistant Professor of Mechanical Engineering at the University of Maryland,
  College Park, and Fischell Fellow at the R.E.F. Institute for Biomedical Devices.'
work:
  - excerpt: 'Dr. McGregor is interested in how software and data can be leveraged to improve manufacturing and part qualification. He investigates 
  methods for automating metrology of diverse part geometries using computer vision and computational geometry, and is developing machine learning 
  models for rapidly qualifying additively manufactured parts. He is especially interested in developing models for qualifying part designs that 
  have never previously been made, enabling first-time-right manufacturing strategies for additive manufacturing.'
expertise:
  - excerpt: 'Dr. McGregor is an expert in data science, machine learning, computer vision, and statistical analysis for traditional and advanced 
  manufacturing, including additive manufacturing. He has extensive experience analyzing manufacturing vision data from photographs, X-ray computed 
  tomography, and variable focus microscopy.'
history:
  - excerpt: 'Before joining the University of Maryland in 2023, Dr. McGregor was Staff Manufacturing Scientist at Fast Radius, which was acquired 
  by SyBridge Technologies in December 2022. While there, he led the development of manufacturing intelligence algorithms and the framework for 
  continuous feedback and improvement of machine learning models.'
achievements:
  - excerpt : 'Dr. McGregor received a Ph.D. from the University of Illinois Urbana-Champaign. His dissertation was *"Metrology Automation and 
  Geometric Analysis for Additive Manufacturing."* He has led educational workshops and presented at professional conferences on leveraging machine 
  learning and software automation in the manufacturing field. He has published 15 journal articles with over 350 citations, holds one US patent, 
  and is part of 4 pending patent disclosures.'
---

{% include feature_row id="intro" type="justify"%}
{% include feature_row id="work" type="justify"%}
{% include feature_row id="expertise" type="justify"%}
{% include feature_row id="history" type="justify"%}
{% include feature_row id="achievements" type="justify"%}
<br>
{% include feature_row id="preview_images" %}