---
layout: home
classes: wide
author_profile: true
entries_layout: grid
header:
  overlay_color: "#5e616c"
  overlay_filter: "0.6" # same as adding an opacity of 0.5 to a black background
  overlay_image: /assets/images/home/ironabe_bike.jpg
  # caption: "Photo credit: **M. Congdon**"
  og_image: /assets/images/home/lattice_crush_411x274.jpg
  teaser: /assets/images/home/lattice_crush_411x274.jpg
excerpt: "Welcome to my personal webpage"
description: "This is my personal webpage, where I showcase my research, publications, and projects, and share relevant news and project developments."
preview_images:
  - image_path: /assets/images/home/lattice_crush_411x274.jpg
    alt: "AM lattice research"
    title: "Research"
    # excerpt: "Work and conference summaries"
    url: "/research/"
    btn_class: "btn--primary"
    # btn_label: "Learn More"
  - image_path: /assets/images/home/solve_maze_411x274.jpg
    alt: "A* search maze solver"
    title: "Projects"
    # excerpt: "Academic projects and content"
    url: "/projects/"
    btn_class: "btn--primary"
    # btn_label: "Learn More"
  - image_path: /assets/images/home/endless_summer_411x274.jpg
    alt: "hobbies"
    title: "Hobbies"
    # excerpt: "Athletics, programming, cooking, etc."
    url: "/hobbies"
    btn_class: "btn--primary"
    # btn_label: "Learn More"
intro:
  - excerpt: 'Additive manufacturing (AM), also known as 3D printing, enables the scalable production of parts with extraordinarily 
  complex geometries. These parts are poised to enrich several different industries, including aerospace, automotive, medical, and 
  consumer markets. However, inspection of complex parts can be quite challenging, and the uncertainty of part quality limits the 
  adoption of these parts in engineering applications. There is a pressing need for smart metrology approaches capable of efficiently 
  measuring the complex geometries of AM parts.' 
work:
  - excerpt: 'My current research focuses on a novel, machine vision measurement system and analysis methods capable of automatically 
  extracting thousands of geometric dimensions from part image data. I developed the measurement system in Python, using a number of 
  different open-source packages. My advisors and I have published our work, detailing the measurement approach and applications where 
  we automatically measure and analyze large batches of AM parts.'
---
Mechanical Engineering Ph.D. Candidate  --  University of Illinois at Urbana-Champaign

{% include feature_row id="intro" type="justify"%}
{% include feature_row id="work" type="justify"%}
<br>
{% include feature_row id="preview_images" %}